.banner {
  position: relative;
}

.banner > aside {
  width: 100%;
  height: 57.6px;
  background-color: var(--color-black);
  padding: 20px 80px;
  text-align: center;
}

aside > a {
  display: block;
  color: var(--color-light-grey);
  text-decoration: underline;
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  line-height: 18px;
}

/* Navbar */
header {
  width: 100%;
  position: absolute;
  top: 57.6px;
  left: 0;
}

.bar {
  width: 100%;
  max-width: 1760px;
  margin: auto;
  padding: 0 80px;
}

#navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 230px;
}

.navbar_form_wrap {
  width: 850px;
  height: 146px;
  margin: auto;
}

#navbar_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar_form_menu {
  all: unset;
  width: 348px;
  height: 80px;
  padding: 0 24px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.navbar_menu_items_wrap {
  width: 300px;
  height: 80px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_menu_items {
  all: unset;
  padding: 10px 16px;
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  cursor: pointer;
}

/* SearchBar */
.searchbar {
  width: 848px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: 1px solid #dddddd;
  background-color: var(--color-white);
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px 0px;
}

.searchbar_label_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 32px;
  cursor: pointer;
}

.searchbar_label_wrap:hover {
  height: 100%;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.1);
}

.searchbar_label_wrap:last-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 9px;
}

.searchbar_label {
  cursor: pointer;
}

.searchbar .line {
  width: 0;
  height: 32px;
  border-right: 1px solid #dddddd;
  align-self: center;
}

.searchbar_menu_title {
  width: 100%;
  font-size: 12px;
  font-weight: var(--weight-regular);
  letter-spacing: 0.48px;
  padding-bottom: 2px;
}

.searchbar_label input {
  width: 100%;
  outline: none;
  border: none;
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  background-color: transparent;
}

.searchbar_icon {
  border: none;
  width: 48px;
  height: 48px;
  padding: 16px;
  background-color: #ff385c;
  border-radius: 50%;
  cursor: pointer;
}

.searchbar_icon:hover {
  background-color: #e93253;
}

.search_icon {
  color: var(--color-white);
}

.navbar_user_wrap {
  width: 230px;
  justify-content: flex-end;
}

.navbar_user {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_user_host {
  width: 100px;
  text-align: center;
}

.navbar_user_host:hover,
.navbar_user_lang:hover {
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.navbar_user_host > a {
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  line-height: 42px;
}

.navbar_user_lang {
  width: 48px;
  height: 42px;
  padding: 13px 16px;
  margin-right: 8px;
}

.navbar_user_btn {
  width: 76px;
  height: 42px;
  background-color: var(--color-white);
  border: 1px solid #dddddd;
  border-radius: 21px;
  cursor: pointer;
}

.navbar_user_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_user_btn_icon:nth-child(2) {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
